/* COLORS */
/*
  color: #3d4c41;
  color: #999999;
  color: #e6e6e6;
  color: #1f1f1f;
*/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: 'Raleway', sans-serif; /* Escolher Fonte */
}
html,body{
  width: 100%;
  height: 100%;
}

/*------------------ HEADER ------------------*/
header{
  display: grid;
  justify-content: center;
  width: 100%;
  padding: 1rem;
  align-items: center;
  text-align: center;
  background-color: #e6e6e6;
}
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo{
  cursor: pointer;
  font-size: 60px;
  background-color: #e6e6e6;
  color: #3d4c41;
  width: 90px;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 100px;
  margin-right: 100px;
  border-top-left-radius: 45px;
  border-bottom-right-radius: 45px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border: 2px solid #3d4c41;
  transition: .3s ease;
}
.logo:hover{
  border-top-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-right-radius: 45px;
  border-bottom-left-radius: 45px;
  transition: .3s ease;
}
.logo a{
  color: #3d4c41;
}
.navigation{
  display: flex;
  gap: 2rem;
  font-weight: 300;
  cursor: pointer;
}
.navigation a{
  color: #3d4c41;
  font-size: 20px;
  padding: 15px;
  border-radius: 15px;
}
.navigation a:hover{
  color: #999999;
  border: 2px solid #999999;
  transition: .3 ease;
}

/*--------------- HEADER RESPONSIVO --------------*/
.mobile-menu-icon{
  display: none;
}
.mobile-menu{
  display: none;
}
@media(max-width: 830px){
  #logo{
    display: none;
  }
  .navigation{
    display: none;
  }
  .mobile-menu-icon{
    display: flex;
  }
  .mobile-menu-icon button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 50px;
    color: #3d4c41;
  }
  .mobile-menu ul{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 1rem;
  }
  .mobile-menu ul li{
    display: block;
    padding-top: 5rem;
  }
  .mobile-menu a{
    color: #3d4c41;
    font-size: 20px;
    padding: 25px;
    border-radius: 15px;
  }
  .mobile-menu a:hover{
    color: #999999;
    border: 2px solid #999999;
    transition: .3 ease;
  }
  .open{
    display: block;
  }
  .icon-bar, .icon-x{
    display: none;
  }
  .show{
    display: block;
  }
}

/*------------------- HOME -------------------*/
main{
  width: 100%;
  padding-top: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: #3d4c41; */
  background-color: #999999;
  /* background-color: #fff; */
  transition: background 0.4s ease-in;
}
main input[type=radio]{
  display: none;
}
main img{
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}
.card{
  position: absolute;
  width: 100%;
  height: 80%;
  left: 0;
  right: 0;
  margin: auto;
  /* cursor: pointer; */
  transition: transform 0.4s ease;
}
.container{
  width: 100%;
  height: 75vh;
  max-width: 1100px;
  display: flex;
  transform-style: preserve-3d;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.cards{
  position: relative;
  width: 100%;
  height: 100%;
}
#item-1:checked ~ .cards #picture-4,
#item-2:checked ~ .cards #picture-5,
#item-3:checked ~ .cards #picture-1,
#item-4:checked ~ .cards #picture-2,
#item-5:checked ~ .cards #picture-3{
  transform: translateX(-30%) scale(0.6);
  opacity: 0.2;
  z-index: 0;
}
#item-1:checked ~ .cards #picture-5,
#item-2:checked ~ .cards #picture-1,
#item-3:checked ~ .cards #picture-2,
#item-4:checked ~ .cards #picture-3,
#item-5:checked ~ .cards #picture-4{
  transform: translateX(-15%) scale(0.8);
  opacity: 0.9;
  z-index: 0;
}
#item-1:checked ~ .cards #picture-3,
#item-2:checked ~ .cards #picture-4,
#item-3:checked ~ .cards #picture-5,
#item-4:checked ~ .cards #picture-1,
#item-5:checked ~ .cards #picture-2{
  transform: translateX(30%) scale(0.6);
  opacity: 0.2;
  z-index: 0;
}

#item-1:checked ~ .cards #picture-2,
#item-2:checked ~ .cards #picture-3,
#item-3:checked ~ .cards #picture-4,
#item-4:checked ~ .cards #picture-5,
#item-5:checked ~ .cards #picture-1{
  transform: translateX(15%) scale(0.8);
  opacity: 0.9;
  z-index: 0;
}


#item-1:checked ~ .cards #picture-1,
#item-2:checked ~ .cards #picture-2,
#item-3:checked ~ .cards #picture-3,
#item-4:checked ~ .cards #picture-4,
#item-5:checked ~ .cards #picture-5{
  transform: translateX(0) scale(1);
  opacity: 1;
  z-index: 1;
}
#item-1:checked ~ .cards #picture-1 img,
#item-2:checked ~ .cards #picture-2 img,
#item-3:checked ~ .cards #picture-3 img,
#item-4:checked ~ .cards #picture-4 img,
#item-5:checked ~ .cards #picture-5 img{
  box-shadow: 0px 0px 5px 0px rgba(81, 81, 81, 0.47);
}

/*--------------- HOME RESPONSIVO -----------------*/
@media(max-width: 1330px){
  .container{
    max-width: 700px;
  }
}
@media(max-width: 500px){
  .container{
    max-width: 350px;
    max-height: 450px;
  }
}

/*--------------------- FOOTER ---------------------*/
footer{
  background-color: #1f1f1f;
  color: #e6e6e6;
  display: grid;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.footer{
  max-width: 1100px;
  padding: 2rem;
}
.footer h1{
  font-size: 35px;
  margin-bottom: 25px;
}
.footer p{
  font-size: 16px;
  padding: 5px;
}
.footer a{
  color: #e6e6e6;
}
.footer i{
  padding: 5px;
  color: #e6e6e6;
}
.footer h2{
  font-size: 20px;
  padding: 1.5rem;
  margin-bottom: 20px;
}
.button{
  font-size: 20px;
  padding: 1rem;
  border: 2px solid #3d4c41;
  transition: 0.3s;
}
.button:hover{
  border: none;
  color: #3d4c41;
  transition: 0.3s;
}
.footer h3{
  margin-top: 40px;
  font-size: 14px;
}
.social-media{
  display: flex;
  gap: 3rem;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 30px;
}
.social-media i{
  color: #e6e6e6;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 2px solid #3d4c41;
  transition: 0.3s;
}
.social-media i:hover{
  border: none;
  color: #3d4c41;
  transition: 0.3s;
}
.footer h4{
  font-size: 18px;
  transition: 0.3s;
}
.footer h4 a:hover{
  color: #3d4c41;
  transition: 0.3s;
}

/*--------------------- ABOUT ----------------------*/
.main-about{
  background-image: url(/img/background-about.jpg);
  height: 1100px;
  width: 100%;
  background-size: cover;
  background-position: center;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: right;

}
.container-text{
  max-width: 850px;
  padding: 0 100px 0 100px;
  display: flex;
  flex-direction: column;
  background-color: rgba(9, 9, 9, 0.8);
  color: #e6e6e6;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}
.container-text h3{
  padding-top: 130px;
  font-size: 35px;
  padding-bottom: 20px;
}
.container-text h1{
  font-size: 60px;
  padding-bottom: 20px;
}
.container-text span{
  color: #3d4c41;
  background-color: #e6e6e6;
  padding: 5px;
  border-radius: 5px;
}
.container-text p{
  padding-bottom: 130px;
  font-size: 18px;
}

/*--------------------- PORTFOLIO -------------------*/
.menu-img{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
}
.menu-img ul{
  display: flex;
  gap: 3rem;
}
.menu-img a{
  color: #3d4c41;
  font-size: 18px;
  padding: 10px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.menu-img a:hover{
  background-color: #3d4c41;
  color: #e6e6e6;
}
.gallery{
  background-color: #3d4c41;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.album{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 2vw;
  padding: 2vh 3vw;
}
.pictures{
  width: 300px;
  height: auto;
  border: 10px solid #e6e6e6;
  box-shadow: 5px 5px 5px #0006;
  flex-grow: 1;
  transition: transform .3s linear;
}
.pictures img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.pictures:hover{
  transform: scale(1.05);
}
#btnTop{
  color: #3d4c41;
  background-color: #e6e6e6;
  border: solid 1px #3d4c41;
  border-radius: 50%;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 50px;
  right: 50px;
  width: 70px;
  height: 70px;
  font-size: 2rem;
  cursor: pointer;
}

#btnTop:hover{
  transform: scale(1.2);
  transition: 0.3s;
}
/*-------------------PORTFOLIO RESPONSIVO------------------*/
@media(max-width: 800px){
  .menu-img ul{
    display: grid;
    align-items: center;
    justify-items: center;
    padding-bottom: 20px;
    gap: 0;
  }
  .menu-img li{
    padding: 20px;
  }
  .menu-img a{
    border-radius: 5px;
  }
}

/*------------------ CONTATO -------------------*/

.main-contact{
  display: grid;
  place-items: center;
  width: 600px;
  padding: 1rem;
}
.main-contact form{
  width: 100%;
  max-width: 30rem;
}
.main-contact label,
.main-contact input,
.main-contact textarea,
.main-contact button{
  display: block;
}
.main-contact input,
.main-contact textarea,
.main-contact button{
  width: 100%;
  font: inherit;
  padding: 1.25rem;
  font-weight: 700;
  font-size: 18px;
}
.main-contact input,
.main-contact textarea{
  margin-bottom: 1rem;
  color: #1f1f1f;
  background-color: #b0b0b0;
  border: 0.125rem solid transparent;
  border-radius: 1.125rem;
  transition: border-color 0.3s,
  box-shadow 0.3s;
}
.main-contact input:hover,
.main-contact input:focus,
.main-contact textarea:hover,
.main-contact textarea:focus{
  outline: none;
  border-color: #999999;
  box-shadow: 0 0 0 0.1125rem #3d4c41;
}
.main-contact label{
  margin-bottom: 0.5rem;
  color: #1f1f1f;
  font-size: 18px;
}
.main-contact textarea{
  min-height: 12.5rem;
  resize: vertical;
}
.main-contact button{
  border: none;
  border-radius: 99px;
  color: #e6e6e6;
  background: #3d4c41;
  cursor: pointer;
  transition: 0.3s;
}
.main-contact button:hover,
.main-contact button:focus{
  outline: none;
  background: #2a352d;
}